*~
*.a
aclocal.m4
autom4te.cache
build/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cscope.*
depcomp
.deps
doc/advancedusage.html
doc/configuration.html
doc/gettingstarted.html
doc/.*.html
doc/index.html
doc/instdoc
doc/instdoc.sh
doc/intro.html
doc/makedoc
doc/manual.aux
doc/manual.html
doc/manual.log
doc/manual.out
doc/manual.pdf
doc/manual.tex
doc/manual.txt
doc/manual.xml
doc/mimesupport.html
doc/miscellany.html
doc/mutt.1
doc/Muttrc
doc/muttrc.man
doc/optionalfeatures.html
doc/reference.html
doc/security.html
doc/smime_keys.1
doc/stamp-
doc/stamp-doc-chunked
doc/stamp-doc-xml
doc/tuning.html
flea
.gdb_history
*.gmo
hcachever.sh
hcversion.h
install-sh
keymap_defs.h
Makefile
Makefile.in
missing
mutt
muttbug.sh
mutt_dotlock
mutt_dotlock.c
mutt_md5
*.o
*.orig
patchlist.c
pgpewrap
pgpring
po/mutt.pot
po/POTFILES
*.rej
reldate.h
^.settings/
smime_keys
stamp-doc-rc
stamp-h1
*.swp
TAGS
ID
tags
.xcodeproj/*
keymap_alldefs.h
po/mutt-kz.pot
txt2c
conststrings.c
doc/pgpewrap.1
doc/pgpring.1
mutt-kz-*.tar.*

